
.container-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@mixin section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.container-one {
    @include section-container;
}

.container-two {
    @include section-container;
}