/*general rules*/
/*add in HTML: <meta name="viewport" content="width=device-width, initial-scale=1">*/
/*enable alternative box-model via values for box-sizing (padding and border are included in the visible box)*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* body rules*/
body {
  margin: 0;
  background-color: #b3b6b7;
}

section {
  background-color: #f5f5f5;
  border-radius: 0 80px 0 80px;
  font: calc(1em + 0.25vw)/1.5 Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, serif;
  color: #445916;
}

footer {
  background-color: #334210;
  color: #e1e5e5;
  border-bottom-left-radius: 80px;
  padding: 1em;
}

h1 {
  font: 3em/1.6 "Script MT", "Brush Script MT", cursive;
  margin: 0;
}

/*images are never larger than their container*/
img {
  max-width: 100%;
  height: auto;
}

figure img {
  border-radius: 0 60px 0 60px;
  background-color: #B5Bf8F;
  padding: 1em;
}

figure {
  text-align: center;
  display: inline-block;
}

figcaption {
  font-size: calc(0.5em + 0.25vw);
}

div {
  padding: 0.5em;
}

/*style links in this order: a:link, a:visited, a:focus, a:hover, a:active
links should at least be: underlined (other elements shouldn't, react when they are hovered/focused
and in a different way when activated*/
a:link {
  color: #A8D4FF;
}

a:visited {
  color: #E0CAF7;
}

a:active {
  color: #FFC7C7;
}

a.img:link {
  color: #002B5C;
}

a.img:visited {
  color: #3F1371;
}

a.img:active {
  color: #610000;
}

.imprint {
  padding-left: 0.5em;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  .container-one {
    margin: 2vmax 2vmax 0 2vmax;
  }

  .container-two {
    margin: 0 2vmax 2vmax 2vmax;
  }

  @supports(display: grid) {
    @media screen and (min-width: 768px) {
      .container-one {
        display: grid;
        grid-column: 1;
        grid-template-areas: 
        "i1 i2"
        "i1 i2"
        "i3 i4"
        "i5 i5";
        place-items: center;
      }
    
      .item-one-co {
        grid-area: i1;
      }
    
      .item-two-co {
        grid-area: i2;
      }
      
      .item-three-co {
        grid-area: i3;
      }
    
      .item-four-co {
        grid-area: i4;
      }
    
      .item-five-co {
        grid-area: i5;
        align-self: end;
        justify-self: stretch;
      }
    
      .container-two {
        display: grid;
        grid-column: 2;
        grid-template-areas: 
        "i1 i2"
        "i3 i4"
        "i5 i6"
        "i7 i7";
        place-items: center;
      }
    
      .item-one-ct {
        grid-area: i1;
      }
    
      .item-two-ct {
        grid-area: i2;
      }
    
      .item-three-ct {
        grid-area: i3;
      }
    
      .item-four-ct {
        grid-area: i4;
      }
    
      .item-five-ct {
        grid-area: i5;
      }
    
      .item-six-ct {
        grid-area: i6;
      }
    
      .item-seven-ct {
        grid-area: i7;
        align-self: end;
        justify-self: stretch;
      }
    }

    @media screen and (min-width: 1500px) {
      .container-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
        gap: 0;
      }

      .container-one {
        margin: 2vmax 0 10vmax 2vmax;
      }

      .container-two {
        margin: 10vmax 2vmax 2vmax 0;
      }
    }
  }